<!doctype html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='images/oikos_icon.ico') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Oikos</title>
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body>
    <div class="logo-geometric">
      <div class="house-icon">
        <div class="roof"></div>
        <div class="base"></div>
      </div>
      <span>Oikos</span>
    </div>
    <div class="floors" id="floors">
      <h3>Piso:</h3>
      <input type="checkbox" data-group="floors" id="floor0" />
      <label class="btn-floor" for="floor0">0</label>
      <input type="checkbox" data-group="floors" id="floor1" />
      <label class="btn-floor" for="floor1">1</label>
      <input type="checkbox" data-group="floors" id="floor2" />
      <label class="btn-floor" for="floor2">2</label>
      <input type="checkbox" data-group="floors" id="floor3" />
      <label class="btn-floor" for="floor3">3</label>
    </div>
    <div class="container">
      <div class="sidebar sidebar-left">
        <input type="checkbox" data-group="sidebar-left" id="btn-est-rect" />
        <label for="btn-est-rect" class="tool-btn" id="rectTool">
          <i data-lucide="square"></i>
        </label>
        <input type="checkbox" data-group="sidebar-left" id="btn-est-move" />
        <label for="btn-est-move" class="tool-btn" id="moveTool">
          <i data-lucide="move"></i>
        </label>

        <input type="checkbox" data-group="sidebar-left" id="btn-est-clean" />
        <label for="btn-est-clean" class="tool-btn" id="deleteTool">
          <i data-lucide="eraser"></i>
        </label>
      </div>
      <svg class="canvas" id="canvas">
        <defs>
          <pattern
            id="cuadricula"
            width="60"
            height="60"
            patternUnits="userSpaceOnUse"
          >
            <path
              d="M 60 0 L 0 0 0 60"
              fill="none"
              stroke="#333"
              stroke-width="0.5"
            />
          </pattern>
        </defs>

        <!-- Usa el patrón para rellenar un rectángulo que cubra todo el SVG -->
        <rect width="100%" height="100%" fill="url(#cuadricula)" />
      </svg>
      <div class="sidebar sidebar-right">
        <div class="form-section">
          <h3>Información adicional</h3>

          <label>Área:</label>
          <input
            type="number"
            id="area-metros"
            placeholder="ej: 120 "
            min="1"
          />
          <label>Ubicación:</label>
          <select id="region-select">
            <option value="">Seleccionar región...</option>
            <option value="GBA Norte">GBA Norte</option>
            <option value="GBA Oeste">GBA Oeste</option>
            <option value="GBA Sur">GBA Sur</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Costa Atlántica">Costa Atlántica</option>
            <option value="Buenos Aires Interior">Buenos Aires Interior</option>
          </select>

          <label style="margin-top: 15px">Localidad:</label>
          <select id="localidad-select" disabled>
            <option value="">Primero seleccione una región</option>
          </select>
        </div>
        <div style="padding: 20px; margin-top: auto">
          <button
            type="click"
            class="tool-btn-exp"
            id="btn-est-exp"
            style="margin-top: 40px; width: 100%"
          >
            Calcular valor
          </button>
        </div>
      </div>
    </div>
    <div id="contextMenu" class="context-menu">
      <div class="menu-item" data-tipo="dormitorio">Dormitorio</div>
      <div class="menu-item" data-tipo="cocina">Cocina</div>
      <div class="menu-item" data-tipo="baño">Baño</div>
      <div class="menu-item" data-tipo="sala">Sala/Living</div>
      <div class="menu-item" data-tipo="comedor">Comedor</div>
      <div class="menu-item" data-tipo="hab-invitados">Hab-Invitados</div>
    </div>
    <script src="{{ url_for('static', filename='js/state.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
    <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/contextMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/export.js') }}"></script>
    <script src="{{ url_for('static', filename='js/floors.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
